$sans-serif-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$serif-font-stack: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$mono-font-stack: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

$type-scale: 1.25;

$base-font-size: 16px;
$small-font-size: 13px;

$big-title-size: 49px;
$section-title-size: 39px;
$subheading-size: 31px;
$subheading2-size: 25px;
$subheading3-size: 20px;

$base-line-height: 1.5;
$heading-line-height: 1.25;