$type-scale: 1.25;

$base-font-size: 16px;
$small-font-size: 13px;

$big-title-size: 49px;
$section-title-size: 39px;
$subheading-size: 31px;
$subheading2-size: 25px;
$subheading3-size: 20px;

$base-line-height: 1.5;
$heading-line-height: 1.25;