.article {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: $section-title-size;
    }

    h2 {
        font-size: $subheading-size;
    }

    h3 {
        font-size: $subheading2-size;
    }

    h4 {
        font-size: $subheading3-size;
    }

    @include respond-to("lg") {
        font-size: 1.25em;
    }

}