.card {
    background-color: white;
    border-radius: $base-radius-size;
    padding: $layout-gutter-width;
    box-shadow: 0 2px 7px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.05);
}

    .card__title {
        font-size: $base-font-size;
        font-weight: bold;
        color: $heading-font-colour;
    }

    .card__subheading {
        font-size: $base-font-size;
        font-weight: bold;
        color: $base-font-colour;
        margin: 0;
    }