.site-header__content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.site-header__logo {

    text-decoration: none;

    h1 {
        font-size: $subheading3-size;
        margin: 0;

        @include respond-to("md") {
            font-size: $subheading2-size;
        }
    }
}