@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
/* A Modern CSS Reset by piccalil
 *
 * Uri: https://piccalil.li/blog/a-modern-css-reset/
 *
 */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  min-height: 100%;
  font-size: 16px;
  line-height: 1.666;
  overflow-x: hidden;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #57606f;
}

body {
  padding-top: 64px;
}

@media (min-width: 768px) {
  body {
    padding-top: 0;
  }
}

p {
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

.base {
  font-weight: normal;
  font-size: 16px;
  color: #57606f;
}

a {
  color: #07a1c8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f3542;
  line-height: 1.25;
  margin-bottom: 1em;
}

h1,
.supertitle {
  font-size: 49px;
}

h2,
.title {
  font-size: 39px;
}

h3,
.subheading {
  font-size: 31px;
}

h4,
.subheading-2 {
  font-size: 25px;
}

.sans-serif {
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.monospace {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.section {
  margin-top: 36px;
  margin-bottom: 36px;
}

@media (min-width: 480px) {
  .section {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

@media (min-width: 768px) {
  .section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: 480px) {
  .publication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .publication {
    display: block;
  }
}

@media (min-width: 1024px) {
  .publication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.publication__image {
  margin-bottom: 24px;
}

.publication__image img {
  max-width: 64px;
  margin-right: 24px;
}

@media (min-width: 768px) {
  .publication__image img {
    max-width: 96px;
  }
}

.publication__title {
  font-size: 20px;
}

.publication__link {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 24px;
}

.article {
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}

.article h1 {
  font-size: 39px;
}

.article h2 {
  font-size: 31px;
}

.article h3 {
  font-size: 25px;
}

.article h4 {
  font-size: 20px;
}

@media (min-width: 768px) {
  .article {
    font-size: 1.125em;
  }
}

@media (min-width: 1024px) {
  .article {
    font-size: 1.25em;
  }
}

.hero {
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -48px;
  height: 320px;
}

@media (min-width: 768px) {
  .hero {
    margin: 0;
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 480px;
  }
}

@media (min-width: 1280px) {
  .hero {
    height: 560px;
  }
}

.hero__image {
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .hero__image {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .biography {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .biography {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.biography--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eee;
}

.biography--group .biography__image {
  width: 64px;
}

.biography--group .biography__name {
  font-size: 20px;
  margin: 0;
}

.biography__image {
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 24px;
  width: 96px;
}

@media (min-width: 768px) {
  .biography__image {
    margin-bottom: 0;
  }
}

.biography__name {
  font-size: 16px;
  color: #2f3542;
}

.grid {
  margin-left: -12px;
  margin-right: -12px;
  font-size: 0;
}

.grid__item {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;
}

.grid__item:last-child {
  margin-bottom: 0;
}

.grid--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-navigation {
  position: absolute;
  display: none;
  font-size: 16px;
  top: 100%;
  margin-top: 20px;
  right: 0;
  min-width: 240px;
  background-color: white;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.site-navigation:before, .site-navigation:after {
  position: absolute;
  display: block;
  content: "";
  top: -10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.site-navigation:before {
  background-color: black;
  opacity: .2;
  top: -11px;
}

.site-navigation.is-shown {
  display: block;
}

@media (min-width: 768px) {
  .site-navigation {
    position: static;
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
  }
  .site-navigation:before, .site-navigation:after {
    display: none;
  }
}

.site-navigation a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #57606f;
  padding: 8px 16px;
  z-index: 2;
}

.site-navigation a:before {
  position: absolute;
  display: none;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #25CCF7;
}

.site-navigation a.current {
  color: #07a1c8;
  background-color: rgba(37, 204, 247, 0.1);
}

.site-navigation a.current:before {
  display: block;
}

@media (min-width: 768px) {
  .site-navigation a {
    display: inline-block;
    padding: 16px 0;
    margin-left: 16px;
  }
  .site-navigation a.current {
    background-color: transparent;
  }
  .site-navigation a:before {
    width: auto;
    right: 0;
    top: auto;
    height: 2px;
    bottom: 8px;
  }
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  background-color: #fff;
  height: 64px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .site-header {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    height: auto;
    padding-top: 36px;
  }
}

@media (min-width: 1280px) {
  .site-header {
    padding-top: 48px;
  }
}

.site-header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header__logo {
  text-decoration: none;
  color: #2f3542;
}

.site-header__logo h1 {
  font-size: 16px;
  margin: 0;
}

@media (min-width: 768px) {
  .site-header__logo h1 {
    font-size: 20px;
    max-width: 260px;
  }
}

@media (min-width: 1024px) {
  .site-header__logo h1 {
    font-size: 25px;
    max-width: none;
  }
}

.site-header__navigation-toggle {
  border: 0;
  background-color: transparent;
}

@media (min-width: 768px) {
  .site-header__navigation-toggle {
    display: none;
  }
}

.site-footer {
  background-color: #f7f8f9;
  overflow: hidden;
  text-align: center;
}

.site-footer p {
  margin: 0;
  font-size: 14px;
}

.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sticky-footer__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.margin-bottom {
  margin-bottom: 24px;
}

.margin-0 {
  margin: 0;
}

.profile {
  display: inline-block;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  vertical-align: bottom;
}

/**
    * Whole
    */
.width-one-whole {
  width: 100%;
}

/**
    * Halves
    */
.width-one-half {
  width: 50%;
}

/**
    * Thirds
    */
.width-one-third {
  width: 33.333%;
}

.width-two-thirds {
  width: 66.666%;
}

/**
    * Quarters
    */
.width-one-quarter {
  width: 25%;
}

.width-three-quarters {
  width: 75%;
}

/**
    * Fifths
    */
.width-one-fifth {
  width: 20%;
}

.width-two-fifths {
  width: 40%;
}

.width-three-fifths {
  width: 60%;
}

.width-four-fifths {
  width: 80%;
}

/**
    * Sixths
    */
.width-one-sixth {
  width: 16.666%;
}

.width-five-sixths {
  width: 83.333%;
}

/**
    * Sixths
    */
.width-one-seventh {
  width: 14.2857%;
}

/**
    * Eighths
    */
.width-one-eighth {
  width: 12.5%;
}

.width-three-eighths {
  width: 37.5%;
}

.width-five-eighths {
  width: 62.5%;
}

.width-seven-eighths {
  width: 87.5%;
}

/**
    * Tenths
    */
.width-one-tenth {
  width: 10%;
}

.width-three-tenths {
  width: 30%;
}

.width-seven-tenths {
  width: 70%;
}

.width-nine-tenths {
  width: 90%;
}

/**
    * Twelfths
    */
.width-one-twelfth {
  width: 8.333%;
}

.width-five-twelfths {
  width: 41.666%;
}

.width-seven-twelfths {
  width: 58.333%;
}

.width-eleven-twelfths {
  width: 91.666%;
}

@media screen and (min-width: 480px) {
  /**
    * Whole
    */
  .width-one-whole\@sm {
    width: 100%;
  }
  /**
    * Halves
    */
  .width-one-half\@sm {
    width: 50%;
  }
  /**
    * Thirds
    */
  .width-one-third\@sm {
    width: 33.333%;
  }
  .width-two-thirds\@sm {
    width: 66.666%;
  }
  /**
    * Quarters
    */
  .width-one-quarter\@sm {
    width: 25%;
  }
  .width-three-quarters\@sm {
    width: 75%;
  }
  /**
    * Fifths
    */
  .width-one-fifth\@sm {
    width: 20%;
  }
  .width-two-fifths\@sm {
    width: 40%;
  }
  .width-three-fifths\@sm {
    width: 60%;
  }
  .width-four-fifths\@sm {
    width: 80%;
  }
  /**
    * Sixths
    */
  .width-one-sixth\@sm {
    width: 16.666%;
  }
  .width-five-sixths\@sm {
    width: 83.333%;
  }
  /**
    * Sixths
    */
  .width-one-seventh\@sm {
    width: 14.2857%;
  }
  /**
    * Eighths
    */
  .width-one-eighth\@sm {
    width: 12.5%;
  }
  .width-three-eighths\@sm {
    width: 37.5%;
  }
  .width-five-eighths\@sm {
    width: 62.5%;
  }
  .width-seven-eighths\@sm {
    width: 87.5%;
  }
  /**
    * Tenths
    */
  .width-one-tenth\@sm {
    width: 10%;
  }
  .width-three-tenths\@sm {
    width: 30%;
  }
  .width-seven-tenths\@sm {
    width: 70%;
  }
  .width-nine-tenths\@sm {
    width: 90%;
  }
  /**
    * Twelfths
    */
  .width-one-twelfth\@sm {
    width: 8.333%;
  }
  .width-five-twelfths\@sm {
    width: 41.666%;
  }
  .width-seven-twelfths\@sm {
    width: 58.333%;
  }
  .width-eleven-twelfths\@sm {
    width: 91.666%;
  }
}

@media screen and (min-width: 768px) {
  /**
    * Whole
    */
  .width-one-whole\@md {
    width: 100%;
  }
  /**
    * Halves
    */
  .width-one-half\@md {
    width: 50%;
  }
  /**
    * Thirds
    */
  .width-one-third\@md {
    width: 33.333%;
  }
  .width-two-thirds\@md {
    width: 66.666%;
  }
  /**
    * Quarters
    */
  .width-one-quarter\@md {
    width: 25%;
  }
  .width-three-quarters\@md {
    width: 75%;
  }
  /**
    * Fifths
    */
  .width-one-fifth\@md {
    width: 20%;
  }
  .width-two-fifths\@md {
    width: 40%;
  }
  .width-three-fifths\@md {
    width: 60%;
  }
  .width-four-fifths\@md {
    width: 80%;
  }
  /**
    * Sixths
    */
  .width-one-sixth\@md {
    width: 16.666%;
  }
  .width-five-sixths\@md {
    width: 83.333%;
  }
  /**
    * Sixths
    */
  .width-one-seventh\@md {
    width: 14.2857%;
  }
  /**
    * Eighths
    */
  .width-one-eighth\@md {
    width: 12.5%;
  }
  .width-three-eighths\@md {
    width: 37.5%;
  }
  .width-five-eighths\@md {
    width: 62.5%;
  }
  .width-seven-eighths\@md {
    width: 87.5%;
  }
  /**
    * Tenths
    */
  .width-one-tenth\@md {
    width: 10%;
  }
  .width-three-tenths\@md {
    width: 30%;
  }
  .width-seven-tenths\@md {
    width: 70%;
  }
  .width-nine-tenths\@md {
    width: 90%;
  }
  /**
    * Twelfths
    */
  .width-one-twelfth\@md {
    width: 8.333%;
  }
  .width-five-twelfths\@md {
    width: 41.666%;
  }
  .width-seven-twelfths\@md {
    width: 58.333%;
  }
  .width-eleven-twelfths\@md {
    width: 91.666%;
  }
}

@media screen and (min-width: 1024px) {
  /**
    * Whole
    */
  .width-one-whole\@lg {
    width: 100%;
  }
  /**
    * Halves
    */
  .width-one-half\@lg {
    width: 50%;
  }
  /**
    * Thirds
    */
  .width-one-third\@lg {
    width: 33.333%;
  }
  .width-two-thirds\@lg {
    width: 66.666%;
  }
  /**
    * Quarters
    */
  .width-one-quarter\@lg {
    width: 25%;
  }
  .width-three-quarters\@lg {
    width: 75%;
  }
  /**
    * Fifths
    */
  .width-one-fifth\@lg {
    width: 20%;
  }
  .width-two-fifths\@lg {
    width: 40%;
  }
  .width-three-fifths\@lg {
    width: 60%;
  }
  .width-four-fifths\@lg {
    width: 80%;
  }
  /**
    * Sixths
    */
  .width-one-sixth\@lg {
    width: 16.666%;
  }
  .width-five-sixths\@lg {
    width: 83.333%;
  }
  /**
    * Sixths
    */
  .width-one-seventh\@lg {
    width: 14.2857%;
  }
  /**
    * Eighths
    */
  .width-one-eighth\@lg {
    width: 12.5%;
  }
  .width-three-eighths\@lg {
    width: 37.5%;
  }
  .width-five-eighths\@lg {
    width: 62.5%;
  }
  .width-seven-eighths\@lg {
    width: 87.5%;
  }
  /**
    * Tenths
    */
  .width-one-tenth\@lg {
    width: 10%;
  }
  .width-three-tenths\@lg {
    width: 30%;
  }
  .width-seven-tenths\@lg {
    width: 70%;
  }
  .width-nine-tenths\@lg {
    width: 90%;
  }
  /**
    * Twelfths
    */
  .width-one-twelfth\@lg {
    width: 8.333%;
  }
  .width-five-twelfths\@lg {
    width: 41.666%;
  }
  .width-seven-twelfths\@lg {
    width: 58.333%;
  }
  .width-eleven-twelfths\@lg {
    width: 91.666%;
  }
}

@media screen and (min-width: 1280px) {
  /**
    * Whole
    */
  .width-one-whole\@xl {
    width: 100%;
  }
  /**
    * Halves
    */
  .width-one-half\@xl {
    width: 50%;
  }
  /**
    * Thirds
    */
  .width-one-third\@xl {
    width: 33.333%;
  }
  .width-two-thirds\@xl {
    width: 66.666%;
  }
  /**
    * Quarters
    */
  .width-one-quarter\@xl {
    width: 25%;
  }
  .width-three-quarters\@xl {
    width: 75%;
  }
  /**
    * Fifths
    */
  .width-one-fifth\@xl {
    width: 20%;
  }
  .width-two-fifths\@xl {
    width: 40%;
  }
  .width-three-fifths\@xl {
    width: 60%;
  }
  .width-four-fifths\@xl {
    width: 80%;
  }
  /**
    * Sixths
    */
  .width-one-sixth\@xl {
    width: 16.666%;
  }
  .width-five-sixths\@xl {
    width: 83.333%;
  }
  /**
    * Sixths
    */
  .width-one-seventh\@xl {
    width: 14.2857%;
  }
  /**
    * Eighths
    */
  .width-one-eighth\@xl {
    width: 12.5%;
  }
  .width-three-eighths\@xl {
    width: 37.5%;
  }
  .width-five-eighths\@xl {
    width: 62.5%;
  }
  .width-seven-eighths\@xl {
    width: 87.5%;
  }
  /**
    * Tenths
    */
  .width-one-tenth\@xl {
    width: 10%;
  }
  .width-three-tenths\@xl {
    width: 30%;
  }
  .width-seven-tenths\@xl {
    width: 70%;
  }
  .width-nine-tenths\@xl {
    width: 90%;
  }
  /**
    * Twelfths
    */
  .width-one-twelfth\@xl {
    width: 8.333%;
  }
  .width-five-twelfths\@xl {
    width: 41.666%;
  }
  .width-seven-twelfths\@xl {
    width: 58.333%;
  }
  .width-eleven-twelfths\@xl {
    width: 91.666%;
  }
}
/*# sourceMappingURL=main.css.map */